
<div class="banner" style="background-image: url(https://img.freepik.com/free-psd/3d-cinema-blank-banner-background_23-2150822410.jpg?t=st=1746785911~exp=1746789511~hmac=28fb143ce1cded19a6827f9ebeec32b8302c5b3497ca8fcfaf69ab45a9d035d8&w=2000);">
  <div class="container">
    <h1>My Lists</h1>
  </div>
</div>

<div>
  <%= link_to "Create new List", new_list_path%>
</div>


<% @lists.each do |list|%>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= link_to list.name, list_path(list) %></h5>
      </div>
  </div>
<% end %>
